## Connecting to MySQL Database

In [ ]:
# Read the events data from mysql
import pandas as pd
from sqlalchemy import create_engine

In [2]:
user = "root"
password = "root"
host = "localhost"
port = 3306
database = "myappdb"
table = "events"

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

query = f"SELECT * FROM `{table}`"
with engine.connect() as conn:
    events_df = pd.read_sql_query(query, conn)

events_df.head()

,event_id,topic,city,venue_capacity,scheduled_date_time,instructor_id
0,E001,Python OOP,Bengaluru,50,2026-01-13 10:00,I001
1,E002,Data Wrangling,Bengaluru,30,2026-01-16 14:00,I001
2,E003,Python OOP,Bengaluru,40,2026-01-19 10:00,I003
3,E004,Python OOP,Mysuru,60,2026-01-22 10:00,I002
4,E005,Machine Learning Essentials,Bengaluru,40,2026-01-25 14:00,I002